}
html, body {
  cursor: url('http://kck186.xo.je/resources/image/cursor.png'), auto;
}
a, button {
  cursor: url('http://kck186.xo.je/resources/image/link.png'), pointer;
}
font-family: 'Ubuntu', sans-serif;
